img {
  width: 200px;
}

body {
  background-image: url('./images/world-3258866_1920.jpg');
  background-size: cover;
  color: aquamarine;
  padding: 50px;
}

h1 {
  font-size: 50px;
  text-align: center;
}

label {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 25px;
  margin-right: 10px;
}

input {
  width: 300px;
  height: 35px;
  font-size: 25px;
}

p {
  font-family: inherit;
  font-size: 20px;
  font-style: bold;
}

.text {
  font-style: normal;
}

.list_countries {
  margin-top: 100px;
}

.item_countries {
  cursor: pointer;
  font-size: 25px;
  margin-bottom: 5px;
}

.inner_country {
  width: 40vw;
}

.cont {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
